<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Developers</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
                
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
         
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    </head>
    <body>
        <div class="container-fluid">


                <div class="row lead justify-content-center mb-2">
                    <h2>Simple Search Application</h2>
                </div>
            <div id="search">
                <div class="row mb-3">
                
                    <div class="col-4">
                    <label class="form-control-label">Languages</label>
                    <input v-model="language" class="form-control" placeholder="en, ja, bd"/>
                                        
                 
                    </div>
                    <div class="col-4">
                    <label class="form-control-label">Programming Languages</label>
                    <input v-model="programmingLanguage" class="form-control" placeholder="ruby, JavaScript, python"/>

                    </div>
                    <div class="col-4">
                        <br>
                    <button type="button" class="btn btn-success mt-1" @click="search">Search</button>
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <button type="button" class="btn btn-success ml-5" @click="searchWhoWriteRuby">Search who write ruby</button>
                    <button type="button" class="btn btn-success ml-5" @click="searchWhoWriteRubySpeakJapanese">Search who write ruby and speak Japanese</button>
                    <button type="button" class="btn btn-success ml-5" @click="searchWhoWriteRubyAndJavascriptSpeakJapanese">Search who write ruby and javascript also speak Japanese</button>
                </div>
            </div>
                <div class="row pt-5">
                    <div class="col-5">
                    <!--{{developers}}-->
                        <div id="developers">
                           <div v-if="showModalEdit">
                                <transition name="modal">
                                  <div class="modal-mask">
                                    <div class="modal-wrapper">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title text-center">Edit Developer</h4>
                                            <button type="button" class="close" @click="showModalEdit=false">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            
                                          </div>
                                          <div class="modal-body">
                                              <label class="form-control-label">Email</label>                           
                                              <input type="text" class="form-control" v-model="developerEmail">
                                              <label class="form-control-label">Languages</label>
                                              <select v-model="selectedLanguages" class="form-control" multiple="multiple">
                                                <!-- options variable is reactive -->
                                                <option v-for="option in languageOptions"  :value="option">
                                                    {{option.code}}
                                                        
                                                </option>
                                              </select>
                                              
                                              <label class="form-control-label">Programming Languages</label>
                                              <select v-model="selectedProgrammingLanguages" class="form-control" multiple="multiple">
                                                <!-- options variable is reactive -->
                                                <option v-for="option in programmingLanguageOptions" 
                                                        :value="option"
                                                        
                                                        >
                                                    {{option.name}}
                                                        
                                                </option>
                                              </select>

                                          </div>
                                            
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" @click="putDeveloper">Save Changes</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </transition>
                            </div>
                            
                            <div v-if="showModalAdd">
                                <transition name="modal">
                                  <div class="modal-mask">
                                    <div class="modal-wrapper">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title text-center">Add Developer</h4>
                                            <button type="button" class="close" @click="showModalAdd=false">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            
                                          </div>
                                          <div class="modal-body">
                                              <label class="form-control-label">Email</label>                           
                                              <input type="text" class="form-control" v-model="developerEmail">
                                              <label class="form-control-label">Languages</label>
                                              <select v-model="selectedLanguages" class="form-control" multiple="multiple">
                                                <!-- options variable is reactive -->
                                                <option v-for="option in languageOptions"  :value="option">
                                                    {{option.code}}
                                                        
                                                </option>
                                              </select>
                                              
                                              <label class="form-control-label">Programming Languages</label>
                                              <select v-model="selectedProgrammingLanguages" class="form-control" multiple="multiple">
                                                <!-- options variable is reactive -->
                                                <option v-for="option in programmingLanguageOptions" 
                                                        :value="option"
                                                        
                                                        >
                                                    {{option.name}}
                                                        
                                                </option>
                                              </select>

                                          </div>
                                            
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" @click="postDeveloper">Save</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </transition>
                            </div>
                            
                            <div class="row">
                                <div class="col-8">
                                    <h2 class="lead text-center"> Developers</h2>
                                </div>
                                <div class="col-4">
                                  <a href="#" class="btn btn-primary" @click="sort()">Sort</a>
                                  <a href="#" class="btn btn-success ml-2" @click="showAddModal()">Add</a>
                                </div>
                             </div>
                            <table class="table">
                                <thead>
                                <th class="text-center">Email</th>

                                <th class="text-center">Programming Languages</th>

                                <th class="text-center">Languages</th>
                                <th colspan="2" class="text-center">Actions</th>

                                </thead>
                                <tbody>
                                    <tr v-for="(developer, index) in developers">
                                        <td class="text-center">{{developer.email}}</td>
                                        <td class="text-center">{{programmingLanguageListToString(developer.programmingLanguages)}}</td>
                                        <td class="text-center">{{languageListToString(developer.languages)}}</td>
                                        <td>
                                                                                        
                                            <a href="#" class="btn btn-success" @click="showEditModal(index)"><i class="fa fa-edit"></i></a>

                                        </td>
                                        <td><a href="#" class="btn btn-danger" @click="deleteDeveloper(index)"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="col-3">
                        <div id="languages">
                            <div v-if="showModalEdit">
                                <transition name="modal">
                                  <div class="modal-mask">
                                    <div class="modal-wrapper">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title text-center">Edit Language</h4>
                                            <button type="button" class="close" @click="showModalEdit=false">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            
                                          </div>
                                          <div class="modal-body">
                                              <label class="form-control-label">Code</label>                           
                                              <input type="text" class="form-control" v-model="languageCode">

                                          </div>
                                            
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" @click="putLanguage">Save changes</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </transition>
                            </div>
                            
                            <div v-if="showModalAdd">
                                <transition name="modal">
                                  <div class="modal-mask">
                                    <div class="modal-wrapper">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title text-center">Add Language</h4>
                                            <button type="button" class="close" @click="showModalAdd=false">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            
                                          </div>
                                          <div class="modal-body">
                                              <label class="form-control-label">Code</label>                           
                                              <input type="text" class="form-control" v-model="languageCode">

                                          </div>
                                            
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" @click="postLanguage">Save</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </transition>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <h2 class="lead text-center">Languages</h2>
                                </div>
                                <div class="col-6">
                                   <a href="#" class="btn btn-primary" @click="sort()">Sort</a>
                                  <a href="#" class="btn btn-success ml-2" @click="showAddModal()">Add</a>
                                </div>
                             </div>
                            <table class="table">
                                <thead>
                                <th class="text-center">Language Code</th>
                                <th colspan="2" class="text-center">Actions</th>

                                </thead>
                                <tbody>
                                    <tr v-for="(language, index) in languages">
                                        <td class="text-center">{{language.code}}</td>
                                      
                                        <td>
                                                                                        
                                            <a href="#" class="btn btn-success" @click="showEditModal(index)"><i class="fa fa-edit"></i></a>

                                        </td>
                                        <td><a href="#" class="btn btn-danger" @click="deleteLanguage(index)"><i class="fa fa-trash"></i></a></td>
                                        
                                    </tr>
                                </tbody>
   
                            </table>
                        </div>
                    </div>
                    <div class="col-4">
                        <div id="programming-languages">
                            <div v-if="showModalEdit">
                                <transition name="modal">
                                  <div class="modal-mask">
                                    <div class="modal-wrapper">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title text-center">Edit Programming Language</h4>
                                            <button type="button" class="close" @click="showModalEdit=false">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            
                                          </div>
                                          <div class="modal-body">
                                              <label class="form-control-label">Name</label>                           
                                              <input type="text" class="form-control" v-model="programmingLanguageName">

                                          </div>
                                            
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" @click="putProgrammingLanguage">Save changes</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </transition>
                            </div>
                            
                                             
                            <div v-if="showModalAdd">
                                <transition name="modal">
                                  <div class="modal-mask">
                                    <div class="modal-wrapper">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title text-center">Add New Programming Language</h4>
                                            <button type="button" class="close" @click="showModalAdd=false">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            
                                          </div>
                                          <div class="modal-body">
                                              <label class="form-control-label">Name</label>                           
                                              <input type="text" class="form-control" v-model="programmingLanguageName">

                                          </div>
                                            
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" @click="postProgrammingLanguage">Save</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </transition>
                            </div>
                            
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead text-center">Programming Lanugages</h2>
                                </div>
                                <div class="col-5">
                                  <a href="#" class="btn btn-primary" @click="sort()">Sort</a>
                                  <a href="#" class="btn btn-success ml-2" @click="showAddModal()">Add</a>
                                </div>
                             </div>
                            <table class="table">
                                <thead>
                                <th class="text-center">Programming Language</th>
                                <th colspan="2" class="text-center">Actions</th>

                                </thead>
                                <tbody>
                                    <tr v-for="(programmingLanguage, index) in programmingLanguages">
                                        <td class="text-center">{{programmingLanguage.name}}</td>
                                           
                                         <td>
                                                                                        
                                            <a href="#" class="btn btn-success" @click="showEditModal(index)"><i class="fa fa-edit"></i></a>

                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-danger" @click="deleteProgrammingLanguage(index)"><i class="fa fa-trash"></i></a>
                                                                                        
                                        </td>
                                       
                                        

                                    </tr>
                                </tbody>
   
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/babel" th:src="@{/js/search_app.js}"></script>
        <script type="text/babel" th:src="@{/js/developer_app.js}"></script>
        <script type="text/babel" th:src="@{/js/language_app.js}"></script>
        <script type="text/babel" th:src="@{/js/programming_language_app.js}"></script>

        
        
       
    </body>
</html>